## Crontab (crontab -e)
0 7 * * *	export FRAMEBUFFER=/dev/fb0 DISPLAY=:0 && sudo fbi -d /dev/fb0 -T 1 -autozoom -noverbose -timeout 15 /home/pi/Pictures/*/*
59 23 * * *	kill $( ps aux | grep ^pi | grep -v grep | grep fbi | awk '{ print $2 }' )
